@media all and (max-width: 992px) {
    #navigation-menu .toggle {
        display: block;
        color: #1AC056;
        font-size: 20px;
        text-align: right;
        line-height: 50px;
    }
    
    #navigation-menu ul {
        display: none;
    }
    
    #navigation-menu #drop:checked + ul {
        display: block;
    }
    
    #navigation-menu ul li {
        width: 100%;
    }
}